.chartlayout{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    
}

.chartsize{
    width: 25px;
    height: var(--height);
    background-color: red;
    animation: growth ease-in-out 3.5s;

}


@keyframes growth{
    from{
        opacity: 0;
        height: calc(var(--height)-100%);

    
    }
    to{
        opacity: 1;
        height: var(--height);
    }
}


