*{
    box-sizing: inherit;
    
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    
}

body{
    margin: 0;
    padding: 0;
    background-color: #ccc;
    position: relative;
}


.nav{
    width: 100%;
    height: 43px;
    background-color: #EF5122;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
ul.nav-list{
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    color: white;
    list-style: none;
    font-family: -apple-system, sans-serif;
}
li.nav-item{
    display: inline-block;
}

li.nav--move{
    margin-left: 30px;
}

li.nav--move2{
    margin-right: 35px;
}


.login{
    width: 720px;
    height: 100px;
    background-color: #fff;
    margin: 35px auto 0px auto;
    padding: 35px 35px 100px 35px;
    
}

.acc{
    display: flex;
    
}

.psw{
    display: flex;
    
}
label.label{
    min-width: 90px;
    font-size: 1.6rem;
}
input.input{
    flex: 1;
}


div.acc--move{
    margin-bottom: 20px;
}
div.psw--move{
    margin-top: 20px;
}

.para-area{
    height: 315px;
    background-color: #fff;
    margin-top: 35px;
    display: flex;
    
    
    
}
.para-item{
    padding: 0 25px;
}

.para_title{
    font-size: 2.2rem;
}

.paragraph{
    font-size: 1.5rem;
    
}

.para-second{
    height: 280px;
    margin-top: 35px;
    display: flex;
    justify-content: space-around;
    
}

.feature-item{
    min-width: 120px;
    flex-basis: 30%;
    height: 250px;
}
.tittle{
    margin-left: 20px;
}
.conten{
    font-size: 1.5rem;
    margin-left: 20px;
}

.f-color{
    background-color: rgb(227,200,192);
}

.s-color{
    background-color: rgb(227,200,192);
}
.t-color{
    background-color: rgb(226, 192, 227);
}

.box-area{
    height: 150px;
    background-color: #fff;
    margin-top: 35px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.box{
    width: 150px;
    height: 100px;
    
    color: white;
    background-color: rgb(201, 61, 5);
    display: inherit;
    align-items: inherit;
    
}

.number{
    font-size: 6rem;
    margin-left: 60px;
    
}


.center-layout{
    width: 60%;
    height: 380px;
    margin: 35px auto 0 auto;
    background-color: rgb(192, 227, 194);
    display: flex;
    align-items: center;
}
.center-item{
    font-size: 5.5rem;
    margin-left: 30%;
}

.chart-layout{
    height: 450px;
    background-color: #fff;
    margin-top: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    font-size: 2.5rem;
}

.chart{
    width: 80px;
    background-color: orange;
    height: var(--height-chart);
    animation: growth ease-in-out 1.5s;
}

@keyframes growth {

    from{
        opacity: 0;
        height: calc(var(--height-chart)-100%);
    }
    to{
        opacity: 1;
        height: var(--height-chart);
        
    }
}

.the-end {
    margin: 12px auto 48px auto;
    padding: 32px 0;
    max-width: 740px;
    min-height: 360px;
    display: flex;
    flex-direction: row;
}

.the-end__first {
    padding: 4px 16px;
    background-color: #fff;
    flex: 1;
}

.the-end__second {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.the-end__second-one {
    flex: 1;
    padding: 4px 16px;
    background-color: rgb(227, 192, 214);
}

.the-end__second-two {
    flex: 1;
    padding: 4px 16px;
    background-color: rgb(192, 210, 227);
}


