.box{
    width: 50px;
    height: 50px;
    background-color: #214;
    border-radius: 50%;
    animation: fade 1s infinite linear forwards;

}

@keyframes fade {
    to{
        to transform: scale(2);
        opacity: 0;
}